/* font-family: 'Cabin Sketch', cursive; */
/* font-family: 'Lato', sans-serif; */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h2 {
    color: white;
    text-align: center;
}


.flex {
  display: flex;
}

.flex.full-height {
  height: 100vh;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.add {
  flex: 1;
}

#logo {
  width: 6%;
}

header {
  background-color: #044C7F;
  height: 4vh;
  padding: 2vh;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: .8vh;
}

li {
  display: inline;

}

li a {
  color: #fff;
  text-decoration: none;
  padding: 0 1vw 0 1vw;
  font-size: 2vh;
}

.currentSite {
	background-color: #FFFFFF;
	padding-top: 9vh;
	padding-bottom: 3vh;
	color: #044C7F;
}

#bruger-icon {
  width: 6%;
}

.header-background {
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

.header-background img {
  width: 100%;
  position: relative;
  bottom: 25vh;
}

.secondnav {
  height: 5vh;
  width: 100%;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}

.secondnav li a {
  color: #044C7F;
}

.secondnav ul {
  padding-top: 10px;
}

/* SECTION 1 START */
#section1 {
    height: 70vh;
    width: 100%;
}


#lesson_plan_popular {
	height: 50vh;
}

 h2 {
	color: #044C7F;
	text-align: left;
	padding-left: 23vh;
	padding-top: 2vh;
	font-size: 4vh;
	width: 78vw;
	height: 2vh;
}

.popular_box {
	background-color: #F1F1F2;
	width: 77vw;
	margin-top: 6vh;
	margin-right: auto;
	margin-left: auto;
	height: 7vh;
	position: relative;
	border: 1px solid #707070;
	margin-bottom: 4vh;
}

.popular_box h2 {
	padding-left: 3vh;
	height: 6vh;
	padding-top: 0px;
	position: relative;
	top: -2vh;
}


.dropbtn {
    background-color: #ffffff;
    color: #044C7F;
    padding: 10px 50px;
    font-size: 16px;
    border: #707070 solid 1px;
    cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	z-index: 10;
	left: 68vw;
	top: -11vh;
}

.dropdown h3 {
    padding: 5px;
    margin: 0;
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f7f7f7;
}



.latestnews {
  justify-content: center;
  margin-top: 6vh;
}

.boks {
  position: relative;
  height: 13vw;
  /* margin: auto; */
  width: 22vw;
  background: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 4px;
  margin-right: 5.5vw;
}

.boks:last-child {
  margin-right: 0px;
}

.description {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  min-height: 3vh;
  width: 100%;
  background-color: #00A19B;
  overflow: hidden;
}

.description h3 {
  margin: 10px;
}

.description a {
  text-decoration: none;
  color: white;
}

.description p {
  margin: 10px;
  font-size: 1.8vh;
  line-height: 1.5;
}

.boks img {
  box-shadow: 0 8px 6px -6px black;
  transition: all 0.6s;
}

.boks:hover img {
  transform: scale(1.1);
}

#bett {
  width: 100%;
  position: relative;
  top: -10vh;
}


#math {
  color: #044c7f;
  text-align: left;
  margin-left: 150px;
}

#overview, #objectives, #materials {
  color: #044c7f;
  text-align: left;
  margin-left: 150px;
  margin-top: 100px;
}

.lessonbox {
  width: 300px;
  border: 0.3vh solid #044c7f;
  border-radius: 5px;
  padding: 5vh;
  margin: 10vh;
  margin-left: 150px;
  margin-top: 10px;
  width: 75vh;
}

.tile {
  width: 10vh;
  margin-left: 25vh;
}

#kubotext, #activitymaptext, #tagtilestext, #functionstext, #pencilstext {
  margin-left: 25vh;
  margin-top: 10vh;
}

.Pencils {
  margin-bottom: 10vh;
}

/* SECTION 1 END */

/* MEETUP */

.thankyoutext p {
  padding-left: 23vh;
  font-size: 1.7vh;
}
.thankyoutext {
  height: 30vh;
  width: 55vw;
  overflow: hidden;
}

.bett-picture {
  margin: auto;
  display: block;
  width: 50%;
}

/* FORUM START*/

.bigbox {
  width: 80vw;
  height: 50vh;
  margin: auto;
  display: block;
  text-align: center;
  background-color: #044C7F;
  color: white;
}

.bigbox h1 {
  padding-top: 50px;
  font-size: 4vh;
  margin: 6vh 0 0 0;
}

.bigbox h4 {
  font-size: 2vh;
  margin-top: 10px;
}
.bigbox p {
  font-size: 2vh;
  margin-top: 5vh;
}

.smallbox {
  justify-content: center;
}

.forum-boks {
  width: 15vw;
  height: 20vh;
  overflow: hidden;
  background-color: #044C7F;
  margin: 7vh 3.4vw;
}

.forum-boks h4 {
  color: white;
  font-size: 2vh;
  padding: 2vh;
}

.iconss {
  justify-content: space-around;
}

.iconss i {
  color: white;
  font-size: 2vh;
  margin-right: .7vw;
}

.iconss p {
  margin: 0;
  color: white;
  font-size: 1.5vh;
}

.split {
  width: 80vw;
}

.recentdisc h3 {
 color: #044C7F;
 text-align: left;
 padding-left: 9.3vw;
 font-size: 4vh;
 margin: 0;
}

.button-forum button {
  width: 10vw;
  height: 5vh;
  background-color: #044C7F;
  color: white;
  border-radius: 10px;
  font-size: 2vh;
}

.button-forum {
  margin-right: 9.5vw;
}

.forum-button {
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: space-between;
}

.titleetc h4,
.titleetc p {
  margin: 0;
  font-size: 1.7vh;
}

.byuser p {
  margin: 1vh;
  font-size: 1.7vh;
}

.byuser,
.titleetc {
  padding: 1vh;
}

.recent {
  width: 80.2vw;
  height: 6vh;
  border: 1px black solid;
  justify-content: space-between;
  margin: auto;
  margin-top: 1vh;
}



/* FORUM END */

/* FORUM / POSTS */

.title2 h4{
  color: #044C7F;
  text-align: left;
  font-size: 4vh;
  margin: 0;
}

.title2 {
  padding: 13vh 0vh 0vh 60vh;
}

.boks2 {
  height: 15vh;
  width: 43.5vw;
  border: 0.1vh black solid;
  margin-left: 1vw;
}
.boks4 {
  height: 5vh;
  width: 43.6vw;
  background-color: #044C7F;
  margin-left: 1vw;
  justify-content: space-between;
  color: white;
}

.boks2 p {
  margin-left: 20px;
}

.answers i {
  margin: 16px 10px 0 10px;
}

.views {
  margin-left: 10px;
}

.upvote i {
  font-size:4vh;
}

.upvote p {
  font-size:2vh;
}

.upvote {
  padding-left: 26.5vw;
}

/* FOOTER START */
.icons i {
  color: white;
  font-size: 6vh;
  margin-right: .7vw;
}

.icons i:last-child {
  margin-right: 0;
}

.icons {
  margin: 4vh 22vh 4vh 0vh;
}

.first-footer {
  justify-content: space-between;
  background-color: #216393;
  height: 15vh;
  width: 100%;
}

.logo-footer {
 width: 10vw;
 height: 7vh;
 margin: 4vh 0vh 4vh 23vh;
}

.second-footer {
  height: 10vh;
  background-color: #044C7F;
}

.second-footer h3 {
  color: white;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 2vh;
}

/* FOOTER END */
