/* font-family: 'Cabin Sketch', cursive; */
/* font-family: 'Lato', sans-serif; */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h2 {
    color: white;
    text-align: center;
    top: 25px;
    position: relative;
}


.flex {
  display: flex;
}

.flex.full-height {
  height: 100vh;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.add {
  flex: 1;
}

#logo {
  width: 6%;
  height: 6%;
}

header {
  background-color: #044C7F;
  padding: 20px;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

li {
  display: inline;

}

li a {
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}

#bruger-icon {
  width: 6%;
  height: 6%;
}


/* SECTION 1 START */
#section1 {
    background-color: #e6e6e6;
    height: 70vh;
    width: 100%;

}



/* SECTION 1 END */






/* FOOTER START */
footer {
    background-color: #044c7f;
    height: 10vh;
    width: 100%;

}

/* FOOTER END */
